# Environment variables
.env
.env.*
!/.env.example

# Dependencies
node_modules

# Build artifacts
dist
*.foxe
electron-dist/

# TypeScript incremental build cache
*.tsbuildinfo
vite.config.d.ts

# IDE / Editor specific
.vscode/

recordings/