# This compose file contains all services related to the ROS environment.
# It can be run alongside the base docker-compose.yml file.

services:
  foxglove-bridge:
    build:
      context: .
      dockerfile: Dockerfile.foxglove
    container_name: foxglove_bridge
    network_mode: "host" 
    restart: always

  robot-1-sim:
    # Updated to ROS 2 Jazzy (Ubuntu 24.04 base)
    image: ros:jazzy-ros-base
    container_name: robot_sim
    network_mode: "host"
    environment:
      - ROS_DOMAIN_ID=0
    command: sleep infinity
